# Wolfson codec audio interface
NET "*/codec_bclk" LOC = AB13 | IOSTANDARD = LVCMOS33;
NET "*/codec_adclrc" LOC = W9 | IOSTANDARD = LVCMOS33;
# NET "*/codec_adcdata" LOC = R13 | IOSTANDARD = LVCMOS33;
NET "*/codec_daclrc" LOC = U6 | IOSTANDARD = LVCMOS33;
NET "*/codec_dacdat" LOC = Y14 | IOSTANDARD = LVCMOS33;
NET "*/codec_mclk" LOC = W14 | IOSTANDARD = LVCMOS33;

